<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="../iron-image/iron-image.html">

<dom-module id="hero-item">
  <template>
    <style>
      :host {
        display: block;
        width: 150px;
        height: 300px;
        border: solid 2px red;
        padding: 1rem;
      }
      div.hero-item-wrapper {
        width: 100%;
        height: 100%;
      }
      div.hero-item-wrapper iron-image {
        width: 100%;
        height: 200px;
      }
    </style>
    <div class="hero-item-wrapper">
      <iron-image
        preload fade
        src="http://lorempixel.com/600/400"
        sizing="contain"
        placeholder="../unknown-hero.jpg">
      </iron-image>
      <p>[[hero.name]]</p>
    </div>
  </template>

  <script>
    /**
     * `hero-item`
     * hero item component
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class HeroItem extends Polymer.Element {
      static get is() { return 'hero-item'; }
      static get properties() {
        return {
          hero: {
            type: Object,
            value: function() {
              return {};
            }
          }
        };
      }
    }

    window.customElements.define(HeroItem.is, HeroItem);
  </script>
</dom-module>
