<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="../iron-image/iron-image.html">

<dom-module id="hero-item">
  <template>
    <style>
      :host {
        display: block;
        width: var(--hero-item-width, 250px);
        height: var(--hero-item-height, 350px);
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        transition: 0.3s;
        cursor: pointer;
      }

      :host(:hover) {
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
      }

      div.hero-item-wrapper {
        width: 100%;
        height: 100%;
        position: relative;
      }

      div.hero-item-wrapper iron-image {
        width: 100%;
        height: var(--hero-item-image-height, 250px);
      }

      div.hero-item-wrapper .hero-data {
        padding: 1rem;
      }

      div.hero-item-wrapper .description {
        height: 0;
        width: 100%;
        overflow: hidden;
        position: absolute;
        bottom: 0;
        transition: 0.3s;
        background-color: rgba(0, 0, 0, 0.6);
        color: white;
        box-sizing: border-box;
      }

      :host(:hover) div.hero-item-wrapper .description {
        height: 100%;
        padding: 1rem;
      }
    </style>
    <div class="hero-item-wrapper" on-click="_heroClicked">
      <iron-image preload fade
        src="[[hero.thumbnail.path]].[[hero.thumbnail.extension]]"
        sizing="cover" placeholder="[[fallbackImage]]">
      </iron-image>
      <div class="hero-data">
        <span>[[hero.name]]</span>
      </div>
      <div class="description">
        <span>[[hero.description]]</span>
      </div>
    </div>
  </template>

  <script>
    /**
     * `hero-item`
     * hero item component
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class HeroItem extends Polymer.Element {
      static get is() { return 'hero-item'; }
      static get properties() {
        return {
          hero: {
            type: Object,
            value: function() {
              return {};
            },
          },
          fallbackImage: {
            type: String,
            value: '../unknown-hero.jpg',
          },
        };
      }

      _heroClicked() {
        this.dispatchEvent(
          new CustomEvent('onHeroSelected', {
            composed: true,
            detail: {value: this.hero},
          })
        );
      }
    }

    window.customElements.define(HeroItem.is, HeroItem);
  </script>
</dom-module>