<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes">

    <title>dp-heroes demo</title>

    <script src="../../webcomponentsjs/webcomponents-lite.js"></script>

    <link rel="import" href="../../iron-demo-helpers/demo-pages-shared-styles.html">
    <link rel="import" href="../../iron-demo-helpers/demo-snippet.html">
    <link rel="import" href="../dp-heroes.html">

    <custom-style>
      <style is="custom-style" include="demo-pages-shared-styles">
      </style>
    </custom-style>
  </head>
  <body>
    <div class="vertical-section-container centered">
      <h3>Looking for heroes</h3>
      <demo-snippet>
        <template>
          <dp-heroes auto></dp-heroes>
        </template>
      </demo-snippet>
    </div>

    <div class="vertical-section-container centered">
      <h3>Looking for Hulk</h3>
      <demo-snippet>
        <template>
          <dp-heroes auto hero-name="hulk"></dp-heroes>
        </template>
      </demo-snippet>
    </div>
  </body>
</html>
